{:kotoba.project/root kotoba.lang.ipfs.http-status
 :kotoba.project/modules
 {kotoba.lang.ipfs.http-status "kotoba/http_status.kotoba"
  kotoba.lang.ipfs.status-bounds "kotoba/status_bounds.kotoba"}}
